.card {
  min-height: 250px;
  border: none;
  border-radius: 0;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.sidebar {
  background-color: lightcyan;
  min-height: 100vh;
}

.close {
  position: absolute;
  right: 5px;
  top: 0px;
}