.card {
  min-height: 250px;
  border: none;
  border-radius: 0;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.card-outline {
  border: 1px gray solid;
  height: 100%;
}

.sidebar {
  background-color: lightcyan;
  min-height: 100vh;
}

.completed {
  text-decoration: line-through;
  color: gray;
}